
.full-view{
    width:100%;
    height:100%;
}
#mapContent{
    width:100%;
    height:100%;
}
.hidden{
    display: none;
}
.float-right{
    float:right;
}
.float-left{
    float:left;
}
.search-block {
    margin-top: 10px;
}
.search-block input {
    border: 0px;
    padding: 3px;
    vertical-align: middle;
    height: 21px;
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-block i {
    background: #76aff3;
    padding: 5px 22px;
    vertical-align: middle;
    left: -5px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*按钮*/
.blue-btn{

}
/*右边菜单栏*/
#funLeft{
    position: absolute;
    top: 20px;
    left: 16px;
    height: 50px;
    width: 100px;
    background: #598a59;
}
#funRight{
    position: absolute;
    top: 20px;
    right: 26px;
    height: 123px;
    width: 50px;
    opacity: 0.6;
}
.float-right:after{
    content: '';
    display: block;
    clear: both;
}
.menu-list>i{
    border: 2px solid #000;
    border-radius: 50%;
    padding: 3px 5px;
    color: #000;
    margin: 10px;
    cursor: pointer;
}
.menu-list>i:hover{
    background: #000000;
    color: #fff;
}
/*活动添加模块*/
.addActive{
    width: 100%;
    padding: 5px;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0px 0px 2px 1px #4e4e4e;
    background: #4178bd url(../../bs/img/activity-create-pic-1.png) no-repeat center 60px;
    max-width: 350px;
    border-radius: 2px;
}
.add-activity-head {
    width: 100%;
    height: 25px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.add-activity-form{
    margin-top: 175px;
    background: #fff;
    border: aliceblue;
    border-radius: 4px;
    color: #808080;
    border-collapse:collapse;
    text-align: center;
}
.add-activity-form tr{
    border-bottom: 1px solid #808080;
    margin: 10px;
}
.add-activity-form tr:focus {
    color: #0c72cc;
}
.add-activity-form td {
    padding: 10px 0px;
}
.add-activity-form input:focus {
    outline: #ffffff auto 1px;
    border-bottom: 1px solid #0044ff;
}
.add-activity-form input {
    border: 0px solid #9e9e9e;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.add-activity-table-left{
    width:30%;
    font-size: 15px;
}
.add-activity-form .time-input {
    width: 40%;
    font-size: 13px;
}
.add-activity-form textarea{
    width: 95%;
    box-sizing: border-box;
    height: 100px;
}
/*用户基本信息弹窗*/
#userBomb {
    position: absolute;
    top: 20px;
    right: 90px;
    background: #fff;
    box-shadow: 0px 0px 8px 1px #adadad;
    width: 60%;
    max-width: 250px;
}
#userBomb:after {
    content: '';
    background: rgba(255, 0, 0, 0);
    position: absolute;
    right: -20px;
    top: 16px;
    border-right: 10px solid rgba(0, 0, 255, 0);
    border-top: 10px solid rgba(0, 255, 0, 0);
    border-left: 10px solid #46a4f7;
    border-bottom: 10px solid rgba(255, 126, 0, 0);
}
.user-bomb-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.user-bomb-head {
    background: #46a4f7;
    color: rgba(255, 255, 255, 0.91);
    height: 60px;
    line-height: 40px;
    font-size: 20px;
    padding: 10px;
}
.user-bomb-head:hover {
    color: #fff;
    cursor: pointer;
}
.user-bomb-head i{
    line-height:40px;
}
.user-bomb-head span{
    margin-left: 15px;
}
.user-bomb-content {
    padding: 5px 20px;
    line-height: 25px;
    font-size: 15px;
    color: #797979;
}
.user-bomb-content:hover {
    color: #46a4f7;
    cursor: pointer;
}
.user-bomb-content span {
    margin-left: 10px;
    font-size: 15px;
    line-height: 20px;
}
.user-bomb-content i {
    font-size: 20px;
}
/******************************************************************活动列表弹框-star*******************************************************/
.activity-bomb {
    background-color: white;
    width:100%;
    /*max-width:700px;*/
}
.activity-bomb-head {
    background-color: #367dd2;
    color: #fff;
    padding: 10px;
    text-align: center;
    height:15vh;
    box-sizing: border-box;
}
.activity-bomb-content {
    height: 100vh;
    overflow: auto;
    background: #e0e0e0;
}
.activity-bomb-content li{
    background: #fff;
    margin-bottom:20px;
}
.activity-bomb-head span {
    width: 100%;
    height: 25px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.activity-bomb-content ul {
    list-style: none;
    padding: 0;
    margin:0;
}
.activity-head {
    position: relative;
}
.activity-out-show {
    position: relative;
}
.activyty-name {
    font-weight: bold;
}
.activity-address {
    font-size: 9px;
    color: #989898;
}
.activity-right-top {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #4876ad;
    font-size: 14px;
}
.activity-out-show p {
    font-size: 14px;
    color: #4e4e4e;
}
.activity-detail {
    position: absolute;
    right: 0;
    bottom: 0px;
    color: #367dd2;
    cursor: pointer;
}
.activity-detail-slice {
    border-top: 1px solid #b3b3b3;
}
.activity-img{
    margin: auto;
    display: block;
    height: 217px;
}
@media (min-width: 320px) and (max-width:767px) {
    .ACLIgoback{
        display: block;
    }
    .activity-bomb-content {
        height: 85vh;
    }
}
@media (min-width: 767px) and (max-width:992px) {
    .ACLIgoback{
        display: none;
    }
    .activity-bomb-content {
        height: 70vh;
    }
    .activity-bomb-head {
        height:100px;
    }
}
@media (min-width: 992px) and (max-width:1200px) {
    .ACLIgoback{
        display: none;
    }
    .activity-bomb-content {
        height: 60vh;
    }
    .activity-bomb-head {
        height:100px;
    }
}
@media (min-width: 1200px) {
    .ACLIgoback{
        display: none;
    }
    .activity-bomb-content {
        height: 60vh;
    }
    .activity-bomb-head {
        height:100px;
    }
}
/******************************************************************活动列表弹框-end*******************************************************/