a:focus, a:hover{
    text-decoration: none;
}
ul,li{
    padding: 0px;
    margin:0px;
    list-style: none;
}
.full-view{
    width:100%;
    height:100%;
}
#mapContent{
    width:100%;
    height:100%;
}
.hidden{
    display: none;
}
.float-right{
    float:right;
}
.float-left{
    float:left;
}
.search-block {
    margin-top: 10px;
}
.search-block input {
    border: 0px;
    padding: 3px;
    vertical-align: middle;
    height: 21px;
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-block i {
    background: #76aff3;
    padding: 5px 22px;
    vertical-align: middle;
    left: -5px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*按钮*/
.blue-btn{

}
/*右边菜单栏*/
#funLeft{
    position: absolute;
    top: 20px;
    left: 16px;
    height: 50px;
    width: 100px;
    background: #598a59;
}
#funRight{
    position: absolute;
    top: 20px;
    right: 26px;
    height: 123px;
    width: 50px;
    opacity: 0.6;
}
.float-right:after{
    content: '';
    display: block;
    clear: both;
}
.menu-list>i{
    border: 2px solid #000;
    border-radius: 50%;
    padding: 3px 5px;
    color: #000;
    margin: 10px;
    cursor: pointer;
}
.menu-list>i:hover{
    background: #000000;
    color: #fff;
}
/*活动添加模块*/
.addActive,.editActive{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: #4178bd;
}
.addActive-in{
    padding: 5px;
    color: #fff;
    margin: 0;
    background: #4178bd url(../../bs/img/activity-create-pic-1.png) no-repeat center 60px;
    border-radius: 2px;
}
.add-activity-head {
    width: 100%;
    height: 25px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.add-activity-form{
    margin-top: 175px;
    background: #fff;
    border: aliceblue;
    border-radius: 4px;
    color: #808080;
    border-collapse:collapse;
    text-align: center;
    width: 100%
}
.add-activity-form tr{
    border-bottom: 1px solid #808080;
    margin: 10px;
}
.add-activity-form tr:focus {
    color: #0c72cc;
}
.add-activity-form td {
    padding: 10px 0px;
}
.add-activity-form input:focus {
    outline: #ffffff auto 1px;
    border-bottom: 2px solid #ebb64b;
}
.add-activity-form input {
    border: 0px solid #9e9e9e;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-bottom: 1px solid #e4d77b;
}
.add-activity-form-pc {
    background: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #808080;
    width: 100%;
    margin-top: 16px;
    padding: 0px 3px;
    text-align: center;
}
.add-activity-form-pc .time-input {
    width: 45%;
}
.add-activity-form-pc tr{
    border-bottom: 1px solid #b9b9b9;
}
.add-activity-form-pc tr:focus {
    color: #0c72cc;
}
.add-activity-form-pc td {
    padding: 10px 0px;
}
.add-activity-form-pc input:focus {
    outline: #ffffff auto 1px;
    border-bottom: 2px solid #ebb64b;
}
.registHeadUrl:hover {
    cursor: pointer;
}
.add-activity-form-pc input {
    border:0px;
    text-align: left;
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 1px solid rgb(217, 220, 165);
}
.add-activity-form-pc textarea{
    height: 67px;
    width: 95%;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #d9dca5;
}
.add-activity-form-pc textarea:focus{
    outline: #ffffff auto 1px;
    border: 2px solid #ebb64b;
}
.add-activity-table-left{
    width:30%;
    font-size: 15px;
}
.add-activity-table-right-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dotted #737373;
}
.add-activity-table-right-img input{
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    left: 50%;
}
.add-activity-form .time-input {
    width: 40%;
    font-size: 13px;
}
.add-activity-form textarea{
    width: 95%;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid #eae09a;
}
/*用户基本信息弹窗*/
#userBomb {
    position: absolute;
    top: 20px;
    right: 90px;
    background: #fff;
    box-shadow: 0px 0px 8px 1px #adadad;
    width: 60%;
    max-width: 250px;
}
#userBomb:after {
    content: '';
    background: rgba(255, 0, 0, 0);
    position: absolute;
    right: -20px;
    top: 16px;
    border-right: 10px solid rgba(0, 0, 255, 0);
    border-top: 10px solid rgba(0, 255, 0, 0);
    border-left: 10px solid #46a4f7;
    border-bottom: 10px solid rgba(255, 126, 0, 0);
}
.user-bomb-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.user-bomb-head {
    background: #46a4f7;
    color: rgba(255, 255, 255, 0.91);
    height: 60px;
    line-height: 40px;
    font-size: 20px;
    padding: 10px;
}
.user-bomb-head:hover {
    color: #fff;
}
.user-bomb-head img{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
}
.user-bomb-head i{
    line-height: 40px;
}
.user-bomb-head span{
    margin-left: 15px;
    font-size: 18px;
}
.user-bomb-head a{
    color: #fff;
}
.user-bomb-head a :hover{
    color: #ffe6e6;
}
.user-bomb-content {
    padding: 5px 20px;
    line-height: 25px;
    font-size: 15px;
    color: #797979;
}
.user-bomb-content:hover {
    color: #46a4f7;
    cursor: pointer;
}
.user-bomb-content span {
    margin-left: 10px;
    font-size: 15px;
    line-height: 20px;
}
.user-bomb-content i {
    font-size: 20px;
}
/*****************************************************************登陆弹框-start**********************************************************/
.login-head {
    background: #1f68a9;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 30px;
}
.login-content {
    padding: 20px;
    position:relative;
}
.login-content li {
    list-style: none;
    margin-bottom: 15px;
}
.login-content i {
    position: absolute;
    margin: 5px 13px;
    color: #7d7d7d;
}
.login-content input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid #585858;
    padding-left: 20%;
    font-size: 18px;
}
.login-content input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid #585858;
    padding-left: 20%;
    font-size: 18px;
}
.login-content input:focus{
    outline: 0px;
    border-bottom: 1px solid #5cb2ff;
}
/*****************************************************************登陆弹框-end**********************************************************/
/******************************************************************活动列表弹框-star*******************************************************/
.activity-bomb {
    background-color: white;
    width:100%;
    /*max-width:700px;*/
}
.activity-bomb-head {
    background-color: #367dd2;
    color: #fff;
    padding: 10px;
    text-align: center;
    height:15vh;
    box-sizing: border-box;
    position:relative;
}
.activity-bomb-content {
    height: 100vh;
    overflow: auto;
    background: #e0e0e0;
}
.activity-bomb-content li{
    background: #fff;
    margin-bottom:20px;
}
.activity-bomb-head span {
    width: 100%;
    height: 25px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.activity-bomb-content ul {
    list-style: none;
    padding: 0;
    margin:0;
}
.activity-head {
    position: relative;
}
.activity-head img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    float: left;
}
.activity-head-left {
    display: inline-block;
    line-height: 30px;
    float: left;
    padding: 10px;
}
.activity-head-left span {
    display: block;
}
.activity-head-left .activyty-name {
    font-weight: bold;
    font-size: 17px;
}
.activity-head-right {
    float: right;
    text-align: right;
    position: relative;
}
.myactivity-select-block {
    width: 95%;
    margin: auto;
    position: absolute;
    bottom: 10px;
}
.myactivity-select-block:after{
    content:'';
    display: block;
    clear: both;
}
.myactivity-select {
    display: inline-block;
    width: 50%;
    float: left;
    border: 1px solid #fff;
    height: 30px;
    line-height: 28px;
}
.myactivity-select:hover{
    cursor: pointer;
}
.myactivity-selected {
    background-color: rgba(255, 255, 255, 0.46);
}
.activity-right-baoming {
    right: 0px;
    top: 0px;
    color: #4876ad;
    font-size: 14px;
    display: block;
}
.activity-right-baoming:hover {
    cursor: pointer;
}
.activity-canjia-btn {
    background: #367dd2;
    border: 1px solid #dedede;
    color: #fff!important;
    padding: 3px 20px;
    border-radius: 7px;
}
.activity-head:after {
    content: '';
    display: block;
    clear: both;
}
.applicant-block {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    padding: 5px;
    margin-bottom: 5px;
}
.applicant-block li {
    margin: 2px;
    display: inline-block;
}
.applicant-block img {
    width: 30px;
    height: 30px;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
}
.activity-out-show {
    position: relative;
}
.activyty-name {
    font-weight: bold;
}
.activity-address {
    font-size: 9px;
    color: #989898;
}
.activity-right-top {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #4876ad;
    font-size: 14px;
}
.activity-out-show p {
    font-size: 14px;
    color: #4e4e4e;
}
.activity-detail {
    position: absolute;
    right: 0;
    bottom: 0px;
    color: #367dd2;
    cursor: pointer;
}
.activity-detail-slice {
    border-top: 1px solid #b3b3b3;
}
.activity-img{
    margin: auto;
    display: block;
    height: 217px;
}
@media (min-width: 320px) and (max-width:767px) {
    .ACLIgoback{
        display: block;
    }
    .activity-bomb-content {
        height: 85vh;
    }
    .loginBlock{
        height: 100vh;
    }
    .addActive,.editActive{
        height: 100vh;
    }
    .add-activity-form{
        display: block;
    }
    .add-activity-form-pc{
        display: none;
    }
}
@media (min-width: 767px) and (max-width:992px) {
    .ACLIgoback{
        display: none;
    }
    .activity-bomb-content {
        height: 70vh;
    }
    .activity-bomb-head {
        height:100px;
    }
    .addActive,.editActive{
        height: 86vh;
    }
    .add-activity-form{
        display: none;
    }
    .add-activity-form-pc{
        display: block;
    }
}
@media (min-width: 992px) and (max-width:1200px) {
    .ACLIgoback{
        display: none;
    }
    .activity-bomb-content {
        height: 60vh;
    }
    .activity-bomb-head {
        height:100px;
    }
    .addActive,.editActive{
        height: 86vh;
    }
    .add-activity-form{
        display: none;
    }
    .add-activity-form-pc{
        display: block;
    }
}
@media (min-width: 1200px) {
    .ACLIgoback{
        display: none;
    }
    .activity-bomb-content {
        height: 60vh;
    }
    .activity-bomb-head {
        height:100px;
    }
    .addActive,.editActive{
        height: 86vh;
    }
    .add-activity-form{
        display: none;
    }
    .add-activity-form-pc{
        display: block;
    }
}
/******************************************************************活动列表弹框-end*******************************************************/
/******************************************************************添加活动弹框-start*******************************************************/
.add-activity-table-moreImg .activity-moreImg {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: 80px;
    border: 1px solid #bfbfbf;
}
.add-activity-table-moreImg input {
    position: absolute;
    width: 80px;
    height: 80px;
        opacity: 0;
}
/******************************************************************添加活动弹框-end*******************************************************/