<style>
.float-right{
    float:right;
}
    .float-right:after{
        content: '';
        display: block;
        clear: both;
    }
    .menu-list>i{
        border: 2px solid #000;
        border-radius: 50%;
        padding: 3px 5px;
        /* margin: 0px; */
        color: #000;
        /* background: #afafaf; */
        margin: 4px;
    }
.menu-list>i:hover{
    background: #000000;
    color: #fff;
}

</style>
<div class="float-right menu-list">
    <i class="icon-screenshot icon-2x pull-left"></i>
    <i class="icon-bullhorn icon-2x pull-left"></i>
    <i class="icon-bell-alt icon-2x pull-left"></i>
</div>