<link rel="stylesheet" type="text/css" href="three/bootstrap/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="./view/css/mapView.css"/>
<div class="full-view">
    <div class="full-view">
        <div id="mapContent" map marker></div>
        <!--猫详情弹框-->
        <div id="catDetail" class="" style="display: none;">
            <img src="{{catDetail.ImgUrl}}" alt="猫图片"/>
            <h2>name:{{catDetail.Name}}</h2>
            <p>介绍：{{catDetail.Descript}}</p>
        </div>
        <!--猫坐标图标集-->
        <div class="catMarers" style="display: none">
            <div  ng-repeat="catMarker in catData"  id='{{catMarker.NAME}}' class='catmarker'>
                <img ng-src="{{catMarker.PICURL}}" alt="猫图片"/>
                <div class =  'catmarkerP'>
                    <p>猫猫：{{catMarker.NAME}}</p>
                    <p>主人：{{catMarker.cathost}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="funMenu">
        <div id="funLeft"></div>
        <div id="funRight">
            <div class="float-right menu-list">
                <i class="icon-user icon-2x pull-left" ng-click="show.openUserBombFlag = !show.openUserBombFlag" id="userTip"></i>
                <i class="icon-screenshot icon-2x pull-left" ng-click="geolocation()" tips="定位"></i>
                <i class="icon-bullhorn icon-2x pull-left" ng-click="openAddActivityForm()" tips="发起活动"></i>
                <i class="icon-envelope icon-2x pull-left" tips="消息"></i>
            </div>
        </div>
        <div>
            <!--发布活动弹框-->
            <div class="addActive" style="display: none" id="addActive">
                <div class="add-activity-head">
                    发布活动
                </div>
                <table class="add-activity-form">
                    <tr>
                        <td class="add-activity-table-left">活动名</td>
                        <td><input type="text" ng-model="activity.name" placeholder="活动名称"/></td>
                    </tr>
                    <tr>
                        <td class="add-activity-table-left"><span class="table-left">发起者</span></td>
                        <td>匿名（<a>登陆</a>）</td>
                    </tr>
                    <tr>
                        <td class="add-activity-table-left"><span class="table-left">活动时间</span></td>
                        <td>
                            <input class="time-input" onclick="laydate({format: 'YYYY-MM-DD',isclear: true,istoday: true,issure: true,})" ng-model="activity.startTime"/>到
                            <input class="time-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" ng-model="activity.endTime"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="add-activity-table-left"><span class="table-left">活动地点</span></td>
                        <td><input type="text" ng-model="activity.address"/></td>
                    </tr>
                    <tr>
                        <td class="add-activity-table-left"><span class="table-left">封面图</span></td>
                        <td><input type="text" ng-model="activity.img"/></td>
                    </tr>
                    <tr style="border-bottom: 0px;">
                        <td class="add-activity-table-left"><span class="table-left">活动详情</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 0px 0px 5px 0px;">
                            <textarea ng-model="activity.detail">
                            </textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <!--用户信息弹框-->
            <div class="user-bomb" id="userBomb" ng-show="show.openUserBombFlag">
                <ul class="user-bomb-ul">
                    <li class="user-bomb-head">
                        <i class="icon-user icon-2x float-left" ng-click=""></i>
                        <span class=" float-left">userName</span>
                        <i class="icon-edit float-right"></i>
                    </li>
                    <li class="user-bomb-content" ng-click="openActivityList()">
                        <i class="icon-road"></i>
                        <span>最新活动</span>
                    </li>
                    <li class="user-bomb-content">
                        <i class="icon-calendar"></i>
                        <span>我的活动</span>
                    </li>
                    <li class="user-bomb-content">
                        <i class="icon-group"></i>
                        <span>好友动态</span>
                    </li>
                    <li class="user-bomb-content">
                        <i class="icon-off"></i>
                        <span>退出登陆</span>
                    </li>

                </ul>
            </div>
            <!--最新活动查看弹框-->
            <div class="activity-bomb" style="display: none" id="activityBomb">
                <div class="activity-bomb-head">
                    <i class="icon-angle-left icon-2x pull-left ACLIgoback" ng-click="closeActivityList()"></i>
                    <span>全站活动</span>
                    <div class="search-block">
                        <input type="text" />
                        <i class="icon-search"></i>
                    </div>
                </div>
                <div class="activity-bomb-content">
                    <ul>
                        <li ng-repeat="activity in activityAllList">
                            <div style="padding: 10px;">
                                <div class="activity-head">
                                    <img src=""
                                    <span class="activyty-name">{{activity.name}}</span><br/>
                                    <span class="activity-address">地点：{{activity.address}}</span>
                                    <button class="blue-btn activity-right-top">报名</button>
                                    <span class="activity-right-top" ng-click="getApplicantList(activity.id,activity.applicantListShow)">已有n人报名</span>
                                </div>
                                <div class="applicant-block" ng-show="activity.applicantListShow">
                                    <ul>
                                        <li ng-repeat="applicant in activity.applicantList">
                                            a
                                        </li>
                                        <li>
                                            <button class="blue-btn">报名</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="activity-content">
                                    <div class="activity-out-show">
                                        <img ng-src="{{activity.imgUrl}}" class="activity-img"/>
                                        <p>
                                            活动时间：{{activity.startTime}}到{{activity.endTime}}<br/>
                                            活动地点：{{activity.address}}<br/>
                                            活动发布人：{{activity.promulgator}}<br/>
                                            报名截止时间：{{activity.deafLine}}<br/>
                                        </p>
                                        <span class="activity-detail" ng-click="activity.discriptShow = !activity.discriptShow">详情</span>
                                    </div>
                                    <div class="activity-detail-slice" ng-show="activity.discriptShow">
                                        <p>
                                            活动详情：{{activity.discript}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
